<div class="row mt-5">
    <div class="col-4 mb-9" *ngFor="let item of response">
      <mat-accordion >
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
                <div class="text-danger">
                    {{item.gelmedi}}
                </div>
                <div>
                    -{{item.durum}}
                </div>
            </mat-panel-title>
            <mat-panel-description>
              {{item.ad}} {{item.soyad}}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="card card-custom">
            <div class="row card-header card-header-center d-flex justify-content-center">
                <div class="col-12 d-flex justify-content-center">
                  <img width="110px" src="./assets/media/avatars/300-7.jpg" alt="Metronic" style="border-radius: 80px;"/>
                </div>
                <div class="col-12 d-flex justify-content-center mt-4">
                  <h3>({{item.sicilno}})</h3>
                </div>
            </div>
            <div class="row card-body">
              <div class="col-12 text-center">
                <h5>Bekleyen İzin Talepleri</h5>
                <span>{{item.bekleyenizintalep}}</span>  
              </div>

              <div class="col-12 mt-6 text-center">
                <h5>Bekleyen FM Talepleri</h5>
                <span>{{item.bekleyenfmtalep}}</span>
              </div>

              <div class="col-12 mt-6 text-center">
                <h5>Geç Kalma Sayısı (Ay)</h5>
                <span>{{item.geckalma}}</span>
              </div>

              <div class="col-12 mt-6 text-center">
                <h5>Erken ÇıkmaSayısı(Ay)</h5>
                <span>{{item.erkencikma}}</span>
              </div>

              <div class="col-6 mt-6 text-center">
                <h5>Giriş</h5>
                <span>{{item.ggiris}}</span>
              </div>
              

              <div class="col-6 mt-6 text-center">
                <h5>Çıkış</h5>
                <span>{{item.gcikis}}</span>
              </div>

              <div class="col-12 mt-6 text-center">
                <button class="btn btn-primary">
                    Mesaj Gönder
                </button>
              </div>

            </div>
          </div>

        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>