.options {
    height: 400px;
    margin: 0;
    padding: 0;
    background-color: #F5F8FA;
}

.options2 {
    height: 1250px;
    margin: 0;
    padding: 0;
    background-color: #F5F8FA;
}

:host {
    width: 100%;
    height: 1200px;
    display: flex;
    flex-direction: column;
}

.gridster-container {
    margin-top: 10px;
    margin-left: 10px;
}

.top-btn-left {
    width: 150px;
    margin: 5px;
}

.top-btn-right {
    width: 350px;
    margin: 5px;
}

.widget-header {
    background-color: #eeeeee;
    cursor: move;
}

.widget-header-btn {
    cursor: default;
}

.header-margin-left {
    margin-left: 5px;
}

.header-margin-right {
    margin-right: 5px;
}

.widget-header-buttons {
    display: inline-block;
}

app-nomination-widget {
    height: 100%;
}

.removeIcon {
    margin-left: 356px;
}

.removeIcon2 {
    padding-top: 5px;
    padding-right: 20px;
    
    i {
        font-size: 20px;
    }
}

.removeItems {
    background-color: #f64e60;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    box-shadow: 5px 5px rgba(128, 128, 128, 0.555);
}

#gridsterItem {
    height: 10px;
    
    .row {
        border-style: none none solid none;
        border-radius: 20px;
        border-width: 3px;
        margin-bottom: 5px;
        margin-top: 4px;
        border-bottom-color: #EEF0F8;
        height: 41px;
        background-color: #ff224fc2;
    }
}