table {
    width: 100%;
    // overflow-y: scroll;
}

.ma-elevation-z8 {
    overflow-y: scroll;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}
  
tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}
.tableHeaderCellDiv { 
    resize: horizontal;  
    overflow:hidden;
    font-weight: 900;

}