<mat-dialog-content>
    <div class="row border-bottom border-2 rounded">
        <div class="col-8">
            <h1 mat-dialog-title class="text-danger">İçerideki Personel Listesi</h1>
        </div>

        <div class="col-4" style="display: flex; justify-content: end;">
            <a mat-dialog-close class="text-hover-danger">
                <i class="fa fa-2x mt-2 mr-2">&#xf00d;</i>
            </a>
        </div>
    </div>

    <div class="container">
        <div class="row mb-5 mt-2">
            <div class="col-6" style="display: flex; justify-content: start;">
                <div class="col-12">
                    <div class="form-group has-search">
                        <span class="fa fa-search form-control-feedback mt-1"></span>
                        <input type="text" class="form-control" placeholder="Aranacak Kelime..">
                    </div>
                </div>
            </div>
            <div class="col-6" style="display: flex; justify-content: end;">
                <a class="btn btn-light-primary w-70">
                    <i class="fa">&#xf0ee;</i> Exel'e Aktar
                </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="ma-elevation-z8">
                    Data Gelecek...
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>