<div class="container">
    <div class="card p-5">
        <mat-tab-group mat-stretch-tabs="false">

            <mat-tab label="Bugün">
        
                <div class="m-10 card card-custom gutter-b">
                    <div class="card-body">
                        <!--begin::Example-->
                        <div class="row d-flex justify-content-center">
                            <div class="col-8 frame pb-20">
        
                                <div class="timeline timeline-4">
                                    <div class="timeline-bar"></div>
                                    <div class="timeline-items" *ngFor="let item of gunlukGecisler">
        
                                        <ng-container *ngIf="item.hareketTipi == '-1' ">
                                            <div class="timeline-item timeline-item-left">
                                                <div class="timeline-badge">
                                                    <div class="bg-danger"></div>
                                                </div>
                    
                                                <div class="timeline-label">
                                                    <span class="fw-bold fs-6 text-gray-600">{{item.tarih}} - {{item.saat}}</span>
                                                </div>
                    
                                                <div class="timeline-content fw-bold fs-6 text-gray-800">
                                                    Zemin PDKS Cihazından Çıkış Yapıldı
                                                </div>
                                            </div>
                                        </ng-container>
        
                                        <ng-container *ngIf="item.hareketTipi == '1' ">
                                            <div class="timeline-item timeline-item-right">
                                                <div class="timeline-badge">
                                                    <div class="bg-success"></div>
                                                </div>
                                                <div class="timeline-label text-primary">
                                                    <span class="fw-bold fs-6 text-gray-600">{{item.tarih}} - {{item.saat}}</span>
                                                </div>
                                                <div class="timeline-content fw-bold fs-6 text-gray-800">
                                                    Zemin PDKS Cihazından Giriş Yapıldı
                                                </div>
                                            </div>
                                        </ng-container>
                                        
        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end::Example-->
                    </div>
                </div>
        
            </mat-tab>
        
        
        
        
            <mat-tab label="Haftalık">
                <div class="m-10 card card-custom gutter-b">
                    
                    <div class="card-body">
                        <!--begin::Example-->
                        <div class="row d-flex justify-content-center">
                            <div class="col-8 frame pb-20">
        
                                <div class="timeline timeline-4">
                                    <div class="timeline-bar"></div>
                                    <div class="timeline-items" *ngFor="let item of haftalikGecisler">
        
                                        <ng-container *ngIf="item.hareketTipi == '-1' ">
                                            <div class="timeline-item timeline-item-left">
                                                <div class="timeline-badge">
                                                    <div class="bg-danger"></div>
                                                </div>
                    
                                                <div class="timeline-label">
                                                    <span class="fw-bold fs-6 text-gray-600">{{item.tarih}} - {{item.saat}}</span>
                                                </div>
                    
                                                <div class="timeline-content fw-bold fs-6 text-gray-800">
                                                    Zemin PDKS Cihazından Çıkış Yapıldı
                                                </div>
                                            </div>
                                        </ng-container>
        
                                        <ng-container *ngIf="item.hareketTipi == '1' ">
                                            <div class="timeline-item timeline-item-right">
                                                <div class="timeline-badge">
                                                    <div class="bg-success"></div>
                                                </div>
                                                <div class="timeline-label text-primary">
                                                    <span class="fw-bold fs-6 text-gray-600">{{item.tarih}} - {{item.saat}}</span>
                                                </div>
                                                <div class="timeline-content fw-bold fs-6 text-gray-800">
                                                    Zemin PDKS Cihazından Giriş Yapıldı
                                                </div>
                                            </div>
                                        </ng-container>
                                        
        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end::Example-->
                    </div>
                </div>
            </mat-tab>
        
        
        
        
            <mat-tab label="Aylık">
                <div class="m-10 card card-custom gutter-b">
                    
                    <div class="card-body">
                        <!--begin::Example-->
                        <div class="row d-flex justify-content-center">
                            <div class="col-8 frame pb-20">
        
                                <div class="timeline timeline-4">
                                    <div class="timeline-bar"></div>
                                    <div class="timeline-items" *ngFor="let item of haftalikGecisler">
        
                                        <ng-container *ngIf="item.hareketTipi == '-1' ">
                                            <div class="timeline-item timeline-item-left">
                                                <div class="timeline-badge">
                                                    <div class="bg-danger"></div>
                                                </div>
                    
                                                <div class="timeline-label">
                                                    <span class="fw-bold fs-6 text-gray-600">{{item.tarih}} - {{item.saat}}</span>
                                                </div>
                    
                                                <div class="timeline-content fw-bold fs-6 text-gray-800">
                                                    Zemin PDKS Cihazından Çıkış Yapıldı
                                                </div>
                                            </div>
                                        </ng-container>
        
                                        <ng-container *ngIf="item.hareketTipi == '1' ">
                                            <div class="timeline-item timeline-item-right">
                                                <div class="timeline-badge">
                                                    <div class="bg-success"></div>
                                                </div>
                                                <div class="timeline-label text-primary">
                                                    <span class="fw-bold fs-6 text-gray-600">{{item.tarih}} - {{item.saat}}</span>
                                                </div>
                                                <div class="timeline-content fw-bold fs-6 text-gray-800">
                                                    Zemin PDKS Cihazından Giriş Yapıldı
                                                </div>
                                            </div>
                                        </ng-container>
                                        
        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end::Example-->
                    </div>
                </div>
            </mat-tab>
        
        </mat-tab-group>
    </div>
</div>
