<div class="card card-custom gutter-b bg-light-danger">
    <div class="row card-body">
        <div class="col-2 icon d-flex justify-content-flex-start">
            <i class="fa fa-4x  mt-4 ml-6" style="font-size: 45px;">&#xf0f3;</i>
        </div>
        <div class="col-10">

            <a  class="h1 text-dark text-hover-primary mt-3 mr-6 d-flex justify-content-end">
                5
            </a>

        </div>
        <div class="col-12 text-right mb-2 d-flex justify-content-end">
            <p class="text-dark-50 hover-underline-animation">
                Alarm Sayısı
            </p>
        </div>
    </div>
</div>